.container{
  display: grid;
  height: 80vh;
  width: 100vw;

  justify-content: center;
  align-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}