@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.letraContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1f;
    gap: 10px;

    align-items: center;
    justify-items: center;

    border: 2px solid gray;
    
    text-align: center;
    height: 100px;
    width: 100px;


}

.letraBox{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 60px;
    color: white;
}

.input{
    background: transparent;
    border: 0;
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 60px;
}

.input:focus-visible{
    border: 0;
}